* {
    padding: 0;
    margin: 0;
}

.topo {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
}

.inicio {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 80px;
}

nav {
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

button {
    background-color: #3882f6;
}

.titulo{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.paragrafo {
    font-size: 18px;
    color: #E5E7EB;
}

header {
    color: #E5E7EB;
    background-color: #1F2937;
}

.imagem1 {
    display: flex;
    margin-left: 40px;
    margin-bottom: 80px;
}

